{
  "brances": ["main"],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/changelog",
      {
        "cahngelogFile": "./CHANGELOG.md"
      }
    ],
    [
      "@semantic-release/github",
      {
        "assets": ["./CHANGELOG.md"]
      }
    ]
  ]
}
